a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before{
    content:'';
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
body{
    overflow:hidden;
    margin:0;
    min-width:980px;
    padding:0;
    color:#FFF;
    font-size:16px;
    font-family:"Helvetica Neue",Roboto,Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:300;
    background-color:#000
}
div{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
#searchArticle,#searchvalue,form{
    font-family:'Helvetica Neue',sans-serif;
    font-weight:300
}
ul{
    list-style-type:none;
    padding:0;
    margin:0
}
a{
    text-decoration:none
}
input{
    background-color:rgba(17,17,17,.5);
    color:#fff;
    border-width:1px;
    border-color:#080808;
    font-size:18px
}
h1{
    text-align:center;
    font-size:20px
}
td,tr{
    margin:0;
    padding:0;
    text-align:center;
    vertical-align:middle
}
a:link{
    color:#FFF
}
a:visited{
    color:#DDD
}
a:hover{
    text-shadow:0 0 3px #fff
}
#links a:hover{
    text-shadow:none
}
.overlay{
    text-align:justify;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(8,8,8,.5)
}
.overlay2{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(8,8,8,1)
}
#UImap,#close,#fullScreenArticle,#helper,#history,#links,#nav,#pageTitle,#personinfo,#searchbar,#searchbutton,#staticlayer,#title,#toggleInfo,#tutorial,#wikipediaBox,#zoom{
    background:-moz-linear-gradient(top,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,.7)),color-stop(100%,rgba(0,0,0,.3)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
    background:-o-linear-gradient(top,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
    background:-ms-linear-gradient(top,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
    microsoftgradientstartcolorstr:#cc000000,endColorstr=#4d000000,GradientType=0);
    padding:3px;
    border:0;
    border-color:#060606
}
#pageTitle,#personinfo,#searchbar,#wikipediaBox,#zoom{
    border-right:1px solid #FFF
}
#history,#links,#helper{
    padding-right:0;
    border-left:1px solid #FFF
}
#staticlayer{
    z-index:100;
    position:fixed;
    top:10px;
    width:105px;
    right:-1px;
    font-size:16px;
    text-align:center;
    padding-right:5px;
    padding-bottom:3px
}
.centered{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    margin:auto;
    text-align:center
}
#release{
    padding-bottom:120px;
    font-weight:100;
    pointer-events:none;
    width:150px;
    height:25px;
    font-size:20px
}
#staticlayer li{
    display:inline-block
}
#nav{
    position:fixed;
    top:10px;
    right:115px;
    font-size:16px;
    text-align:center;
    z-index:99;
    padding-right:5px;
    padding-bottom:3px
}
#nav li{
    display:inline-block
}
.title{
    margin:0
}
#subtitle{
    margin-top:100px;
    font-size:20px;
    letter-spacing:5px
}
#details{
    margin-top:10px;
    font-size:16px;
    letter-spacing:5px
}
.fade{
    opacity:.85;
    transition:opacity .1s ease-in-out;
    -moz-transition:opacity .1s ease-in-out;
    -webkit-transition:opacity .1s ease-in-out
}
.clicked{
    background-color:#F89C25
}
.fade:hover{
    opacity:1
}
#pageTitle{
    position:fixed;
    font-size:18px;
    top:225px;
    left:-1px;
    padding:7px 10px 7px 0;
    height:20px;
    max-width:200px;
    min-width:200px;
    display:inline-block
}
#articlename{
    padding-top:3px;
    height:24px;
    padding-left:20px;
    width:90%;
    overflow-x:hidden;
    overflow-y:hidden;
    display:inline-block
}
#articleGUI{
    position:absolute;
    top:20px;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    width:100%;
    font-size:40px;
    font-weight:100;
    text-align:center;
    opacity:.9;
    display:inline-block
}
#fullScreenArticle{
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin:10px auto auto;
    font-weight:200;
    width:70%;
    font-size:20px;
    height:97%;
    overflow:auto;
    overflow-x:hidden;
    padding-left:80px;
    padding-right:65px;
    background-color:rgba(8,8,8,.8)
}
#fullScreenArticle .mbox{
    background-color:#080808
}
#fullScreenArticle .infobox{
    width:100%
}
#fullScreenArticle p{
    font-size:1em;
    line-height:1.5em;
    margin:0 0 1em;
    text-align:justify
}
#fullScreenArticle p+p{
    text-indent:2.5em
}
#fullScreenArticle .thumb{
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
#fullScreenArticle p:first-letter{
    font-size:2.5em;
    line-height:1em;
    font-weight:400;
    float:left;
    margin:0 .107em 0 0
}
#fullScreenArticle p+p:first-letter{
    font-size:1em;
    line-height:1.25em;
    float:none;
    margin:0
}
#fullScreenArticle p+p:first-line{
    font-weight:400
}
#fullScreenArticle p:first-line{
    font-weight:800
}
#fullScreenContent{
    padding-right:15px
}
#aboutbox,#helpbox,#noWebGL{
    top:0;
    position:absolute;
    left:0;
    right:0;
    margin:40px auto auto;
    text-align:justify;
    font-size:18px;
    width:70%
}
.help{
    padding:5px;
    color:#6F9;
    line-height:1.25em;
    font-size:16px
}
#helpbox a,#aboutbox a{
    color:#00BEF8
}
.sidebar li{
    display:inline-block;
    padding-top:20px;
    padding-bottom:60px;
    font-size:25px;
    font-style:italic
}
#noWebGL{
    display:none
}
#closetutorial{
    display:inline-block;
    float:right;
    padding:5px
}
#helptext{
    display:inline-block;
    margin-top:5px;
    max-width:80%
}
.mentions{
    font-size:14px;
    font-style:italic
}
#wikipediaBox{
    position:fixed;
    top:275px;
    left:-1px;
    width:23%;
    max-width:600px;
    overflow:auto;
    max-height:58%;
    overflow-x:hidden;
    text-align:justify;
    font-size:14px;
    padding:0 15px 0 0
}
#wikiInfo img{
    opacity:.8;
    filter:alpha(opacity=80)
}
#wikiInfo .vertical-navbox{
    background:#080808
}
.togglebar{
    width:30px;
    height:100%;
    left:5px;
    background-color:#FFF;
    float:left
}
#personinfo{
    overflow:auto;
    overflow-y:hidden;
    display:none;
    position:fixed;
    top:75px;
    left:-1px;
    font-size:16px;
    padding:6px 6px 6px 20px;
    width:200px;
    height:70px
}
#searchResults{
    overflow:hidden;
    width:200px;
    margin-left:20px;
    line-height:20px;
    font-size:16px
}
.deadlink{
    color:#CCC
}
.addArticle{
    color:#FF6;
    text-decoration:all
}
#zoom{
    position:absolute;
    top:150px;
    left:-1px;
    font-size:16px;
    padding-top:3px;
    padding-left:5px;
    height:48px;
    display:none;
    line-height:40px
}
#zoomIn,#zoomOut{
    text-align:center;
    font-size:40px;
    padding:0;
    display:inline-block;
    border:1px solid #AAA;
    border-radius:20px;
    vertical-align:middle;
    width:40px;
    line-height:32px;
    height:40px
}
#zoomIn:hover,#zoomOut:hover{
    border:1px solid #FEC836;
    color:#FEC836
}
#zoomLevel{
    vertical-align:middle;
    display:inline-block;
    font-size:16px;
    padding-left:3px
}
.clear{
    clear:both
}
#searchbar{
    position:fixed;
    top:10px;
    left:-1px;
    font-size:14px;
    padding:6px 10px 6px 0
}
#searchArticle{
    padding-left:20px
}
#searchbutton{
    padding-left:10px;
    padding-right:10px
}
#circle{
    width:200px;
    height:200px;
    display:inline-block;
    position:relative;
    text-align:center;
    line-height:1.2
}
#circle canvas{
    vertical-align:top
}
#percent{
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    text-align:center;
    line-height:40px;
    font-size:30px
}
#percent i{
    font-style:normal;
    font-size:.6em;
    font-weight:400
}
.circle span{
    display:block;
    color:#aaa;
    margin-top:12px
}
#logotitle{
    font-family:Suranna,serif;
    height:560px;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;
    font-size:100px;
    text-align:center;
    font-weight:lighter
}
#logoswitch{
    position:fixed;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin:auto;
    height:200px
}
#start,#loading{
    width:180px;
    height:36px;
    font-size:36px;
    letter-spacing:5px
}
#logo{
    position:relative;
    top:-35px
}
#pointer{
    font-size:14px;
    position:absolute;
    top:-20px;
    text-align:center;
    pointer-events:none;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}
#suggestion1,#suggestion2,#suggestion3,#suggestion4,#suggestion5,#catsuggestion{
    font-size:16px;
    position:absolute;
    color:#fff;
    top:-20px;
    text-align:center;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}
.suggestionblank{
    color:#DDD;
    font-style:italic
}
#debug{
    position:fixed;
    bottom:30px;
    right:20px;
    font-size:12px
}
#toggleInfo{
    padding-left:5px;
    padding-right:5px
}
#links{
    position:fixed;
    font-size:16px;
    top:100px;
    width:14%;
    right:-1px;
    padding-top:0;
    max-height:47%;
    overflow:auto;
    overflow-x:hidden
}
#helper{
    position:fixed;
    font-size:12px;
    top:90%;
    max-width:25%;
    right:-1px;
    min-height:9%;
    padding:5px;
    line-height:17px;
    overflow:auto;
    overflow-x:hidden
}
#helpertext{
    margin-left:12px;
    padding-right:12px
}
.key{
    border:1px #AAA solid;
    border-radius:2px;
    padding-left:2px;
    padding-right:2px
}
.linkSeparator{
    text-align:center;
    pointer-events:none;
    color:#999;
    display:block;
    font-size:12px;
    border-bottom:1px solid #999
}
.linkSeparator2{
    text-align:center;
    pointer-events:none;
    display:block;
    padding:3px;
    margin-right:30px;
    margin-left:30px;
    font-size:14px;
    border-bottom:1px solid #111
}
.activated:link{
    color:#FF9400
}
.activated:hover{
    color:#FED836
}
#history{
    position:fixed;
    font-size:16px;
    top:64%;
    width:14%;
    right:-1px;
    padding-top:0;
    max-height:25%;
    overflow:auto;
    overflow-x:hidden
}
#historyheader,#linksheader{
    background-color:rgba(8,8,8,.8);
    position:absolute;
    height:15px;
    margin:auto 15px 5px 0;
    width:100%;
    padding-bottom:7px;
    padding-left:15px;
    padding-top:5px;
    border-bottom:1px solid #444;
    border-right:1px solid #444;
    font-size:15px;
    z-index:99
}
#wikiheader{
    padding-left:5px;
    width:100%;
    background-color:rgba(8,8,8,.8);
    position:absolute;
    height:auto;
    margin:auto 0 5px 15px;
    text-align:left;
    padding-bottom:7px;
    padding-top:5px;
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    font-size:15px;
    z-index:99
}
#reloadPage,#wikiheader :link{
    color:#FF9400
}
#destination,#previousvisits{
    margin-top:30px;
    padding-bottom:0;
    padding-left:15px;
    padding-right:15px;
    line-height:20px
}
#destination a,#previousvisits a{
    display:block
}
#wikiInfo{
    width:100%;
    line-height:1.25em;
    margin-top:40px;
    overflow-x:hidden;
    padding-left:15px
}
#close{
    position:absolute;
    top:10px;
    right:40px;
    z-index:100;
    text-align:center
}
